@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep consistent color-scheme for form controls */
html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: var(
    --font-sans,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif
  );
}
